<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
<title>MonVoyage - Formulário</title>
</head>
<body>
	<h1>Cadastro de Usuário</h1>
	
	<form method="post">
		Nome: <input type="text" value="" name="nome"/>
		CPF: <input type="text" value="" name="cpf"/>
		Email: <input type="text" value="" name="email"/>
		Endereço: <input type="text" value="" name="endereço"/>
		
		<button type="submit">Salvar</button>
	</form>



</body>

</html>