<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.png" type="image/x-icon/">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Agência Mon Voyage</title>
</head>

<body>
  <section id="apresentacao">

    <nav>
      <ul>
        <li>
          <div class="menu-principal">
            <div class="menu1">

              <div><img src="imagens/mon voyage logo.png" class="logo" alt="Logo da agência Mon Voyage"></div>

              <div><a href="index.html" class="link-menu">Home</a>

                <a href="destino.html" class="link-menu">Destinos</a>

                <a href="promocoes.html" class="link-menu">Promoções</a>

                <a href="contato.html" class="link-menu">Contato</a>
              </div>

              <div><input type="search" class="search" placeholder="Buscar no site..." /></div>
            </div>


          </div>

        </li>
      </ul>
    </nav>
    
    <div class="titulo-promo">
    <h1>Aproveite nossas promoções</h1>
    <div class="cards-promo">
        
      <div><img src="imagens/promo1.png" class="promo1" alt=""></div>
   
      <div><img src="imagens/promo2.png" class="promo1" alt=""></div>
     
      <div><img src="imagens/promo3.png" class="promo1" alt=""></div>
    
      <div><img src="imagens/promo4.png" class="promo1" alt=""></div>
    </div>
  </div>



    

    <footer class="text-center text-lg-start text-dark" style="background-color: #ECEFF1">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-between p-4 text-white"
        style="    background-image: linear-gradient(60deg, #5a10b5 0%, #002349 100%);">
        <!-- Left -->
        <div class="me-5">
          <span>Continue conectado com as nossas redes sociais</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">Agência de viagens Mon Voyage</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                Não se esqueça de se cadastrar para receber promoções e novidades
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Redes Sociais</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <a href="#!" class="text-dark">Facebook</a>
              </p>
              <p>
                <a href="#!" class="text-dark">WhatsApp</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Email</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Instagram</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Links Úteis</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <a href="#!" class="text-dark">Login</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Promoções</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Avaliações</a>
              </p>
              <p>
                <a href="#!" class="text-dark">Ajuda</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contatos</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p><i class="fas fa-home mr-3"></i> Rio de Janeiro, RJ 10012, BR</p>
              <p><i class="fas fa-envelope mr-3"></i> agenciamonvoyage@example.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 55 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 55 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">Mon Voyage</a>
      </div>
      <!-- Copyright -->
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"></script>
</body>

</html>
